.home {
    text-align: center;
}

h1 {
    padding-top: 0.5em;
}

.card {
    border-radius: 20px;
    overflow: hidden;
}

.card:hover {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.card-title {
    font-size: 24px;
    color: black;
}

.iwt{
    display:block;
}



span {
    font-size: 120;
}

.tripinfo{
    text-align: justify;
    margin-top: 2%;
    margin-bottom: 2%;
    border-radius: 20px;
    border: 1px solid gray;
    padding: 2em 2em 2em 2em;
    margin-left: 10%;
    margin-right: 10%;
}

.contain{
    margin-top: 2%;
    margin-bottom: 2%;
}

.cards{
    margin-top: 2%;
}

