.App {
  font-family: 'Rubik', sans-serif;
}

.navbar {
  background: white;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0,2);
}

.nav-brand {
  color: white !important;
  font-weight: 800;
  font-size: 24px;
}

.nav-link {
  color: black !important;
  font-size: 18px;
  margin-left: 1em;
}




