.App {
  font-family: 'Rubik', sans-serif;
}

.navbar {
  background: white;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  padding: 0em;
}

.nav-logo {
  height: 80px;
  width: auto;
  padding-left: 1em;
}

.nav-link {
  font-size: 18px;
  margin-left: 1em;
}




