.App {
  font-family: 'Rubik', sans-serif;
}

.navbar {
  background: #316bb6;
}

.nav-brand {
  color: white !important;
  font-weight: 800;
  font-size: 24px;
}

.nav-link {
  color: white !important;
  font-size: 18px;
  margin-left: 1em;
}




