h4 {
    text-align: center;
}

p {
    font-size: 24px;
}

.budget-tracker {
    padding-top: 1em;
}

.title {
    display: flex;
    justify-content: center;
}

.how-to-btn {
    border-radius: 50%;
    width: 40px; 
    height: 40px; 
    font-size: 16px;
    margin-top: 1.5em;
}

.amounts {
    text-align: center;
    padding: 1em;
}

.budget {
    display: inline-block;
}

.spent {
    color: red;
    font-weight: 500;
}

.remaining {
    color: green;
    font-weight: 500;
}

.button {
    width: 8em;
}

.form {
    border-radius: 20px;
    padding: 2em 3em;
    border: 1px solid lightgray;
    margin-bottom: 2em;
    width: 25em;
    text-align: center;
}

.category {
    border-radius: 10px;
    padding: 1em;
    border: 1px solid lightgray;
    margin-bottom: 2em;
}

.edit-icon svg {
    color: dodgerblue;
    width: 18px;
    margin-right: 1em;
}

.delete-icon svg {
    color: red;
    width: 18px;
    margin-right: 0em;
}


