.InputElements{
    margin-left: 12px;
    margin-right: 12px;
    margin-top: 12px;
}

.taskProgressBar {
    margin-top: 5%;
    margin-bottom: 1%;
}

.additem{
    margin-top: 10px;
    margin-bottom: 12px;
}

