p {
    font-size: 20px;
}

h1 {
    margin-right: 1%;
}

.packing {
    padding: 3em;
}

Form {
    align-content: right;
}

.InputElements{
    margin-left: 1.2%;
    margin-right: 1.2%;
    margin-top: 1.2%;
}

.taskProgressBar {
    margin-top: 3%;
    margin-bottom: 1%;
}

.taskListElements{
    margin-top: 1%;
    margin-bottom: 1.2%;
    margin-left: 1.2%;
}

.howtouse{
    width: 7%;
    height: 4%;
    margin-top: 1.3%;
}

.removecomp{
    margin-top: 1%;
    margin-left: 90%;
    width: 10%;
    height: 5%;
}